<mat-toolbar class="py-3" style="background-color:#0381b3;">
    <!-- <mat-icon img src="assets/images/girl.png" ></mat-icon> -->
    <img class="logo" src="assets/images/girl.png" />
    <h1 class="text-white">QuizWiz</h1>
    <span class="toolbar-spacer"></span>
   <a class="text-white">About Us 
   </a>

</mat-toolbar>
<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="card card0 border-0">
        <h2 class=" text-center " style="color:#0381b3;"> LOGIN AS ADMIN </h2>
        <span style="color:darkred;font-size: medium; text-align: center;">(Authorized Access Only)</span>
        <div class="row d-flex">
            <div class="col-lg-6">
                <div class="row px-3 justify-content-center mt-4 mb-5 border-line">
                    <img src="assets/images/girl.png" class="image" alt="Not Available" />

                </div>
            </div>
            <div class="col-lg-6">
                <form [formGroup] = "UserForm" (ngSubmit)="generateOtp()">
                <div class="card2 card border-0 px-4 py-5">

                    <div class="row px-3">
                            <label style="color:#0381b3;" class="mb-1">
                                <h6 class="mb-0 text-sm">Email Address</h6>
                            </label>
                            <input class="mb-3,form-control" type="email" id="UserEmail" name="UserEmail"
                                placeholder="Enter a valid email address" formControlName="UserEmail" [ngClass]="{'touched-invalid':UserEmail ?.invalid && UserEmail?.touched || UserEmail?.dirty}" />
                            <p *ngIf="( UserEmail ?.invalid && UserEmail?.touched || UserEmail?.dirty)">

                                <span class="err" *ngIf="UserEmail?.errors?.['required']">Email is Mandatory</span>

                                <span class="err" *ngIf="UserEmail?.errors?.['email']">Email in wrong Format</span>

                            </p>
                            
                        </div>
                        <div class="row px-3">
                            <label style="color:#0381b3;" class="mb-1">
                                <h6 class="mb-0 text-sm">Password</h6>
                            </label>
                            <input type="password" id="password" name="password" placeholder="Enter password" class="form-control" formControlName="password" [ngClass]="{'touched-invalid':password ?.invalid && password?.touched || password?.dirty}"/>
                            
                            <p *ngIf="(password?.invalid && password?.touched || password?.dirty)">

                                <span class="err" *ngIf="password?.errors?.['required']">Password is Mandatory</span>
        
                                <span class="err" *ngIf="password?.errors?.['minlength']">Password should be minimun 8 characters</span>
                                </p>
                        </div>
                        
                        <div class="row mb-3 mt-4 mx-auto px-3">
                            <button (click)="generateOtp()"  type="submit" class="btn btn-blue text-center " [disabled]="UserForm.invalid">Generate
                                OTP</button>
                            </div>
                            <div class="row px-3">
                                <input type="password" [disabled]="!isGenerateOtpClicked" name="OtpValidate"
                                placeholder="Enter The Otp Received">
                            </div>
                            <div class="row mb-3 mt-4 mx-auto px-3">
                                <button type="submit" [disabled]="!isValidateOtpClicked"
                                class="btn btn-blue text-center btn-primary-spacing ">Login</button>
                                <button (click)="validateOtp()" type="submit" [disabled]="!isGenerateOtpClicked"
                                class="btn btn-blue text-center btn-primary-spacing">Validate OTP</button>
   
                                
                            </div>
                        </div>
                    </form>
            </div>
        </div>
    </div>
</div>