<body>
    <h1 style="text-align: center;">Delete Question</h1>
    
     <div class="question-container">
        <p style="text-align: center;">Enter Question Id to delete <input type="number" >
            </p>
            <p style="text-align: center;">
        <button  class="delete-button">Delete Question</button>
    </p>
    <p style="text-align: center;">
        <button class="btn btn-danger" ><i fa fa-back></i> <a  routerLink="/educatoraction">Back</a></button>
    </p>
     </div>
</body>