.question-container{
    justify-content: center;
    align-items: center;
    border:1 px solid #ccc;
    padding:10px;
    margin:10px;
    background-color: #f9f9f9;
}
.delete-button{
    background-color: #e74c3c;
    color:white;
    border:none;
    padding:5px 10px;
    cursor: pointer;
}
.delete-button:hover{
    background-color: #c0392b;
}
body{
    background-color: lightblue;
    align-items: center;
}