<!-- <mat-toolbar class="py-3" style="background-color: rgb(58, 13, 103)">
   <img  class="logo" src="assets/Images/logo1.jpg" />
    <h1 class="text-white">QuizWiz</h1>
</mat-toolbar> -->
<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="card card0 border-0">
        <h2 class=" text-center mt-4" style="color: rgb(58, 13, 103)"> Registration For Students </h2>

        <div class="row d-flex">
            <div class="col-lg-6">

                <div class="row px-3 justify-content-center mt-4 mb-5 border-line">
                    <img src="assets/Images/Student.jpg" class="image" alt="Not Available" style="border-radius: 50%;"/>

                </div>
            </div>
            <div class="col-lg-6">
                <form [formGroup]="UserForm">
                    <div class="card2 card border-0 px-4 py-3">
                        <div class="row px-3">
                            <label style="color: rgb(58, 13, 103)" class="mb-1">
                                <h6 class="mb-0 text-sm">User Name:</h6>
                            </label>
                            <input class="mb-2,form-control" type="text" name="UserName" placeholder="Enter UserName"
                                formControlName="UserName"
                                [ngClass]="{'touched-invalid':UserEmail ?.invalid && UserEmail?.touched || UserEmail?.dirty}"
                                [(ngModel)]="newStudent.userName">
                            <p *ngIf="( UserName ?.invalid && UserName?.touched || UserName?.dirty)">


                                <span class="err" *ngIf="UserName?.errors?.['required']">User Name is Mandatory</span>

                                <span class="err" *ngIf="UserName?.errors?.['minlength']">User Name should be minimum of
                                    3 characters</span>
                                <span class="err" *ngIf="UserName?.errors?.['maxlength']">User Name should be maximum of
                                    20 characters</span>
                                <span class="err" *ngIf="UserName?.errors?.['pattern']">User name can only contain
                                    letters,numbers and underscore</span>

                            </p>
                        </div>
                        <div class="row px-3">
                            <label style="color: rgb(58, 13, 103)" class="mb-1">
                                <h6 class="mb-0 text-sm">Email Address:</h6>
                            </label>
                            <input class="mb-3,form-control" type="email" id="UserEmail" name="UserEmail"
                                placeholder="Enter a valid email address" formControlName="UserEmail"
                                [ngClass]="{'touched-invalid':UserEmail ?.invalid && UserEmail?.touched || UserEmail?.dirty}"
                                [(ngModel)]="newStudent.userEmail" />
                            <p *ngIf="( UserEmail ?.invalid && UserEmail?.touched || UserEmail?.dirty)">
                                <span class="err" *ngIf="UserEmail?.errors?.['required']">Email is Mandatory</span>
                                <span class="err" *ngIf="UserEmail?.errors?.['email']">Email in wrong Format</span>
                            </p>
                        </div>

                        <div class="row px-3">
                            <label style="color:rgb(58, 13, 103)" class="mb-1">
                                <h6 class="mb-0 text-sm">Password:</h6>
                            </label>
                            <input type="password" id="password" placeholder="Enter password" class="form-control"
                                formControlName="password"
                                [ngClass]="{'touched-invalid':password?.invalid && password?.touched || password?.dirty}"
                                [(ngModel)]="pwd" />

                            <p *ngIf="(password?.invalid && password?.touched || password?.dirty)">
                                <span class="err" *ngIf="password?.errors?.['required']">Password is Mandatory</span>
                                <span class="err" *ngIf="password?.errors?.['minlength']">Password should be minimum 6
                                    characters</span>
                            </p>

                            <label style="color:rgb(58, 13, 103)" class="mb-1">
                                <h6 class="mb-0 text-sm">Re-Enter Password:</h6>
                            </label>
                            <input type="password" id="repassword" placeholder=" Re-enter password" class="form-control"
                                formControlName="repassword"
                                [ngClass]="{'touched-invalid':repassword?.invalid && password?.touched || password?.dirty}"
                                [(ngModel)]="repwd" />

                            <p
                                *ngIf="(repassword?.invalid && repassword?.touched || repassword?.dirty || pwd !== repwd )">
                                <span class="err" *ngIf="pwd !== repwd">Password mismatch</span>
                            </p>
                        </div>

                        <div class="row mb-1 mt-3 mx-auto px-3">
                            <!-- <button  [disabled]="!UserForm.valid" type="submit" [routerLink]="['/studentlogin']"  class="btn text-center" [ngClass]="{'enabled-btn':UserForm.valid,'disabled-btn':UserForm.invalid}">Register</button> -->
                            <button [disabled]="!UserForm.valid" (click)="onRegister()" class="btn text-center"
                                [ngClass]="{'enabled-btn':UserForm.valid,'disabled-btn':UserForm.invalid}">Register</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>