<mat-toolbar color="primary"> <img src="assets\Images\logo1.jpg" height="40px" width="40px" /> &#160; QuizWiz</mat-toolbar>

<div class="container">
  <div class="row">
    <div class="col-sm" class="card">
        <img src="assets\Images\Admin.jpg" class="center">
        <br>
           <h4>ADMIN</h4>  
          <p> <button type="button" class="btn btn-primary">Login</button>
        </p></div>

        <div class="col-sm" class="card">
          <img src="assets\Images\Educator.jpg" class="center">
          <br>
             <h4>EDUCATOR </h4> 
              <p>   <button type="button" class="btn btn-primary">Login</button>
          </p></div>
          <div class="col-sm" class="card">
            <img src="assets\Images\Student.jpg" class="center">
            <br>
               <h4>STUDENT </h4> 
                <p>   <button type="button" class="btn btn-primary">Login</button>
            </p></div>
         
       
    

  </div>
</div>
