<div class="container">
    <div class="row" >
        <div class="col-md-5" class="card">
            <img src="assets\Images\Educator.jpg"  class="center">
            <br>
            <h4>EDUCATOR </h4>
            <p> <button type="button" class="btns" routerLink="/educatorlogin">Login&nbsp;&nbsp;</button></p>
        </div>
        <div class="col-md-5" class="card">
            <img src="assets\Images\Student.jpg" class="center">
            <br>
            <h4>STUDENT </h4>
            <p> <button type="button" routerLink="/studentlogin" class="btns">Login&nbsp;&nbsp;</button>
            </p>
        </div>
    </div>
</div>