.card{
    align-items: center;
    background-color: lightblue ;
}
h1{
    color:brown;
    text-align: center;
}
body{
    background-color: lightskyblue;
}
.dInput{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top:15px;
}
.dInput label{
    text-align: center;
    display:block;
    padding:6px;
    color:#000;
}

.dInput input{
    padding: 5px;
    margin-left: 5px;
    background-color: white;
    border-radius: 4px;
}