<div class="container bg-light py-3">
    <h1 class="display-5 fw-bold">Welcome to QuizWiz</h1>
    <!-- <p class="col-md-8 fs-4">This quiz will contains total 9 questions. Each Question holds 10 Points</p> -->
    <h4>Rules:</h4>
    <ol>
        <li>Correct Question gives you 4 points</li>
        <li>Incorrect question gives to -1 point</li>
        <li>You will have 60 sec to answer each question</li>
    </ol>
    <h1 style="font-family: cursive;text-align:center">All the best!!</h1>
     <div class="name container my-3">
        <div class="row">
            <div class="col-md-5">
                <!-- <label class="col-md-4" for="">Enter your name:</label>
                <input #name type="text" [(ngModel)] = "studName" class="form-control"/> -->
            </div>
            <div class="col-md-4">
                <button class="btn btn-lg ml-2"  style=" color: white; background-color: rgb(58, 13, 103);" routerLink="/question" (click)="startQuiz()">Start the Quiz!!</button>
            </div>
            <div class="col-md-3">
                <br>
            <!-- <button class="btn btn-lg ml-2" [disabled]= "studName ===''" style=" color: white;" [ngClass]="{'enable-btn':studName !=='','disabled-btn':studName ==''}" routerLink="/question" (click)="startQuiz()">Start the Quiz!!</button> -->
            </div>
        </div>
    </div>
</div>