
<div class="background">
<div class="header">
   
    <h1>Admin Page</h1>
</div>
<div class="center">
<img src="../../../assets/images/animatedimage.png" alt="admin image" width="300" height="200">
</div>
<div class="center-container">
<div class="body">
<form>
    <div class="form-group">
    <label for="category">Enter Topic :</label>
    <input type="text" class="form-group" id="topic">

    
</div>
<div class="form-group">
<label for="file">Upload File:</label>
<input type="file" class="form-control-file" id="file">
</div>
     <div class="button">
    <button type="submit" class="btn btn-primary">Submit</button>
     </div>
</form>
</div>
</div>
</div>
