<body>
    <div class="main" style="background-image: url(../../../assets/Images/qbgg.jpg); background-repeat: no-repeat; background-size: cover;">
        <div class="card" style="height:180px; width: 550px;">
            <img src="assets/Images/Logo2.jpg" alt="logo" width="100px" height="100px" style="border-radius: 50%; margin-top: 30px; margin-right: 10px; text-align: justify;">
            <h6 style="color: rgb(58, 13, 103) " >QuizWiz web application, in one form or the other is becoming a general requirement for
                most of the examinations these days. Be it Survey, mock test, preparation, self evaluation, actual objective test or exam.</h6>
        </div>
        <div class="intro" style="margin-left: 25%; margin-top: 22%; height: 180px; width: 500px;">
            <h1 style="color:rgba(102, 51, 153, 0.833);">QUIZWIZ</h1><br>
            <button [routerLink]= "['/quizwizlogin']" style="color: white;">Lets Get Started >></button>
        </div>
    </div>
</body>