<!-- <div class="center">
<h1>Delete Question</h1>
</div>
    <div class="card">
       
<p>Enter the question Id to Delete
    <input type="number" >
</p>
<button (click)="deleteQuestion">DeleteQuestion</button>
</div>

 -->
<body>
     
<h1 style="text-align: center;">Delete Question</h1>

 <div class="question-container">
    <p style="text-align: center;">Enter Question Id to delete <input type="number" >
        </p>
        <p style="text-align: center;">
    <button  class="delete-button">Delete Question</button>
    </p>
 </div>
 </body>