<mat-toolbar class="py-3" style="background-color:#0381b3;">
    <!-- <mat-icon img src="assets/images/girl.png" ></mat-icon> -->
    <img class="logo" src="assets/Images/logo1.jpg" />
    <h1 class="text-white">QuizWiz</h1>
    
</mat-toolbar>
<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="card card0 border-0">
        <h2 class=" text-center " style="color:#0381b3;"> Admin Page</h2>
        <div class="row d-flex">
            <div class="col-lg-6">

                <div class="row px-3 justify-content-center mt-4 mb-5 border-line">
                    <img src="assets\Images\Admin.jpg"  class="image" alt="Not Available" />

                </div>
            </div>
            <div class="col-lg-6">
                <form>
                <div class="card2 card border-0 px-4 py-5">

                    <div class="row px-3">
                            <label style="color:#0381b3;" class="mb-1">
                                <h6 class="mb-0 text-sm">Enter the topic</h6>
                            </label>
                            <input type="text" class="form-group" id="topic">
                            
                        </div>
                        <div class="row px-3">
                            <label style="color:#0381b3;" class="mb-1">
                                <h6 class="mb-0 text-sm">Upload File</h6>
                            </label>
                            <input type="file" class="form-control-file" id="file" style="border: 2px  solid lightgray;">
                            
                           
                        </div>
                        <div class="button1">
                            <br>
                          <button type="submit" class="btn btn-primary">Submit</button>
                        
                             </div>
                        </div>
                    </form>
            </div>

        </div>
    </div>
</div>
